h1{
    background-color:black;
    color:aqua;
    text-align: center;
    text-transform: capitalize;
}


.box1{
    text-align:center;
    margin:10px auto 10px auto;
}

.box2{
    text-align:center;
}

 .pic{
    display:block;
    margin:auto;
 }